/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Jun-2021, 10:20:56 am
    Author     : piku1
*/
#scoreLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: red;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
}
#pageTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 10px;
    height: 25px;
}
#gameArea{
    position: absolute;
    top: 75px;
    left: 10px;
    border: 1px navy solid;
}
#dot{
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: navy;
    width: 64px;
    height: 64px;
}
